#bpmh_feed_reader {
	position:relative;
	clear:both;
	height:150px;
	overflow-y:auto;
}

#bpmh_feed_reader h5{
	margin:0;
}

.dragbox #feed_selector{
	display:inline-block;
	float:right;
	margin-right:5px;
	width:40%;
}

#bpmh_feed_reader span.loading {
	display:block;
	margin-top:1.8em;
	padding-left:20px;
	background:url(../images/ajax-loader.gif) no-repeat;
}