.column{
	margin-right:.5%;
	min-height:300px;
	background:#fff;
}
.column .dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.dragbox.widget{
	padding:0;
}
.column .dragbox h2{
	margin:0;
	font-size:12px;
	padding:5px;
	background:#f0f0f0;
	color:#000;
	border-bottom:1px solid #eee;
	font-family:Verdana;
	cursor:move;
	clear:none;
}
.dragbox-content{
	background:#fff;
	min-height:100px; margin:5px;max-height:200px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
	overflow:hidden;
}

.dragbox-content #not-bpmh-wigdet {
	max-height:180px;
	overflow-y:auto;
}

.column .placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}
.dragbox .handle_div{
	float:right;
	width:20px;
	border-left:solid 1px #fff;
	height:100%;
}
.handle_div h2.collapse{
	background:#f0f0f0 url('../images/collapse.png') no-repeat top right;
}
.dragbox h2 .configure{
	font-size:11px; font-weight:normal;
	margin-right:30px; float:right;
}

@media screen and (min-width: 600px) {
	.column {
		width:98%;
		float:none;
	}
}

@media screen and (min-width: 960px) {
	.column {
		width:49%;
		float:left;
	}
}